.blog-cover {
    background-color: #ddd;
    padding: 80px 0;
}
.blog-cover-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.carousel-content {
    display: flex;
    align-items: center;
    padding: 35px;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #898989;
}
.carousel-img-container {
    min-height: 450px;
}
.carousel-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
